[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"
keras-vggface = {git = "https://github.com/rcmalli/keras-vggface.git"}
tensorflow = "*"
mtcnn = "*"
opencv-python = "*"
scikit-learn = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
