# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.9.0=pypi_0
astunparse=1.6.3=pypi_0
attrs=19.3.0=py_0
backcall=0.2.0=py_0
bleach=3.1.5=py_0
brotlipy=0.7.0=py38he774522_1000
ca-certificates=2020.6.24=0
cachetools=4.1.1=pypi_0
certifi=2020.6.20=py38_0
cffi=1.14.0=py38h7a1dbc1_0
chardet=3.0.4=py38_1003
colorama=0.4.3=py_0
cryptography=3.2
cycler=0.10.0=pypi_0
decorator=4.4.2=py_0
defusedxml=0.6.0=py_0
entrypoints=0.3=py38_0
gast=0.3.3=pypi_0
google-auth=1.19.2=pypi_0
google-auth-oauthlib=0.4.1=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.30.0=pypi_0
h5py=2.10.0=pypi_0
idna=2.10=py_0
imageio=2.9.0=pypi_0
imageio-ffmpeg=0.4.2=pypi_0
importlib-metadata=1.7.0=py38_0
importlib_metadata=1.7.0=0
ipykernel=5.3.3=py38h5ca1d4c_0
ipython=7.16.1=py38h5ca1d4c_0
ipython_genutils=0.2.0=py38_0
ipywidgets=7.5.1=pypi_0
jedi=0.17.1=py38_0
jinja2=2.11.2=py_0
joblib=0.16.0=pypi_0
json5=0.9.5=py_0
jsonschema=3.2.0=py38_0
jupyter_client=6.1.6=py_0
jupyter_core=4.6.3=py38_0
jupyterlab=2.1.5=py_0
jupyterlab_server=1.2.0=py_0
keras=2.3.1=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
keras-vggface=0.6=pypi_0
kiwisolver=1.2.0=pypi_0
libsodium=1.0.18=h62dcd97_0
m2w64-gcc-libgfortran=5.3.0=6
m2w64-gcc-libs=5.3.0=7
m2w64-gcc-libs-core=5.3.0=7
m2w64-gmp=6.1.0=2
m2w64-libwinpthread-git=5.0.0.4634.697f757=2
markdown=3.2.2=pypi_0
markupsafe=1.1.1=py38he774522_0
matplotlib=3.3.0=pypi_0
mistune=0.8.4=py38he774522_1000
moviepy=1.0.3=pypi_0
msys2-conda-epoch=20160418=1
mtcnn=0.1.0=pypi_0
nbconvert=5.6.1=py38_0
nbformat=5.0.7=py_0
notebook=6.0.3=py38_0
numpy=1.19.1=pypi_0
oauthlib=3.1.0=pypi_0
opencv-python=4.3.0.36=pypi_0
openssl=1.1.1g=he774522_0
opt-einsum=3.3.0=pypi_0
packaging=20.4=py_0
pandas=1.0.5=pypi_0
pandoc=2.10=0
pandocfilters=1.4.2=py38_1
parso=0.7.0=py_0
pickleshare=0.7.5=py38_1000
pillow=7.2.0=pypi_0
pip=20.1.1=py38_1
proglog=0.1.9=pypi_0
prometheus_client=0.8.0=py_0
prompt-toolkit=3.0.5=py_0
protobuf=3.12.2=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.20=py_2
pygments=2.6.1=py_0
pyopenssl=19.1.0=py_1
pyparsing=2.4.7=py_0
pyrsistent=0.16.0=py38he774522_0
pysocks=1.7.1=py38_0
python=3.8.3=he1778fa_2
python-dateutil=2.8.1=py_0
pytz=2020.1=pypi_0
pywin32=227=py38he774522_1
pywinpty=0.5.7=py38_0
pyyaml=5.3.1=pypi_0
pyzmq=19.0.1=py38ha925a31_1
requests=2.24.0=py_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.6=pypi_0
scikit-learn=0.23.1=pypi_0
scipy=1.4.1=pypi_0
send2trash=1.5.0=py38_0
setuptools=49.2.0=py38_0
six=1.15.0=py_0
sqlite=3.32.3=h2a8f88b_0
tensorboard=2.2.2=pypi_0
tensorboard-plugin-wit=1.7.0=pypi_0
tensorflow=2.2.0=pypi_0
tensorflow-estimator=2.2.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.8.3=py38_0
testpath=0.4.4=py_0
threadpoolctl=2.1.0=pypi_0
tornado=6.0.4=py38he774522_1
tqdm=4.48.0=pypi_0
traitlets=4.3.3=py38_0
urllib3=1.25.9=py_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.16.27012=hf0eaf9b_3
wcwidth=0.2.5=py_0
webencodings=0.5.1=py38_1
werkzeug=1.0.1=pypi_0
wheel=0.34.2=py38_0
widgetsnbextension=3.5.1=pypi_0
win_inet_pton=1.1.0=py38_0
wincertstore=0.2=py38_0
winpty=0.4.3=4
wrapt=1.12.1=pypi_0
zeromq=4.3.2=ha925a31_2
zipp=3.1.0=py_0
zlib=1.2.11=h62dcd97_4
